*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*=========== NAV BAR =============*/
nav{
  height: 45px;
  background: #313131;
  color: white;
  display: flex!important;
  justify-content: space-between;

}

nav .mainMenu .nav_radios {
  display: flex;
  list-style: none;
}
nav .mainMenu .nav_radios li a{
  display: inline-block;
  padding: 12px 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #CBCBCB;
  font-size: 15px;
}
nav .mainMenu .nav_radios li a:hover{
  color: white;
}
nav .mainMenu .nav_radios .target a{
  color: white;
}
.nav_radios input[type="radio"]{
  display: none;
}

.nav_radios input[type="radio"]:checked + label{
background-color: #8CA4F0;
padding: 0 10px;
}
nav .openMenu{
  font-size: 15px;
  margin: 10px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu, .icons i{
  font-size: 25px;
  display: none;
  cursor: pointer;
}
.fa-facebook:hover{ padding: 10px; background: white; border-radius: 50%; color: #8CA4F0; font-size: 25px;}
.fa-instagram:hover{ padding: 10px; background: white; border-radius: 50%; color: #8CA4F0; font-size: 25px;}
.fa-twitter:hover{ padding: 10px; background: white; border-radius: 50%; color: #8CA4F0; font-size: 25px;}
.fa-github:hover{ padding: 10px; background: white; border-radius: 50%; color: #8CA4F0; font-size: 25px; }
.fa-bars{ font-size: 25px;}
nav .logo h1{
  margin: 6px;
  font-size: 25px;
  cursor: pointer;
}
@media(max-width: 800px){
  nav .mainMenu{
    height: 100vh;
    position: fixed;
    top: -100%;
    right: 0;
    left: -5%;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    transition: 1s;
    display: flex;
  }
  nav .mainMenu .closeMenu{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu{
    display: block;
  }
  nav .mainMenu li a{
  font-size: 25px;
}
  nav .mainMenu li a:hover{
    background: none;
    color:#8CA4F0;
    font-size: 25px;
  }
  .icons i{
    display: inline-block;
    padding: 12px;
  }
}

/*=========== FILTROS =============*/
.filtros{
  height: 100%;
  background: #ABAAAA;
  text-align: center;
  position: sticky!important;
  top: 40px;
}
.filtros input[type="radio"]{
  display: none;
}
.filtros label{
  margin: 5px;
  padding: 5px;
  border-radius: 10%;
  background: #313131;
  cursor:pointer;
  color: white;
  transition: 0.2s;
}
.filtros input[type="radio"]:checked + label{
  background: #8CA4F0;
  padding: 5px 20px;
}
.filtros h2{
  margin: 0 -16px;
  padding: 5px;
  background: #313131;
  color: white;
  font-size: 25px;
}

/*=========== ADMIN FORMS AND TABLES =============*/
.admin_content, .indice_content{
  background: #DEDEDE!important;
  text-align: center;
}
.indice_content{
  height: 100%;
  position: sticky!important;
  top: 60px;
}
.admin_content h2, .indice_content h2{
  margin: 0 -16px;
  padding: 5px;
  background: #313131;
  color: white;
}
.admin_content label, .indice_content label{
  color: black;
  font-weight: bolder;
  text-decoration: none;
}
.admin_content input[type="text"], .admin_content select, .admin_content input[type="file"]{
  background-color: #F2F2F2!important;
}
/*.admin_content table th{
  background-color: #313131!important;
  color: white;
}
.admin_content table td{
  background-color: #F2F2F2!important;
  border-bottom: 1px solid #313131;
}*/
.prod_list{
  width: 100%!important;
  height: 400px;
  overflow-x: scroll;
  overflow-y: scroll;
}
.btn_indiceCategoria{
  margin: 0 -16px;
  padding: 5px;
  background: #ABAAAA!important;
  font-size: 20px!important;
  border-radius: 0!important;
  transition: 0.6s!important;
}
.btn_indiceCategoria:hover{
  background: #878787!important;
}
.btn_indiceSubCategoria{
  display: none!important;
  margin: 0 -16px;
  padding: 5px;
  border-radius: 0!important;
  transition: 0.6s!important;
}
.btn_indiceSubCategoria:hover{
  /*background: #8CA4F0!important;*/
  border-left: solid #8CA4F0 10px;
}
.show{
  display: block!important;
}
.btn_blue{
  width: 60%!important;
  background: #313131!important;
  border-radius: 5px!important;
  color: white!important;
  transition: 0.6s!important;
}
.btn_blue:hover{
  background: #8CA4F0!important;
  width: 100%!important;
}
.btn_red{
  width: 60%!important;
  background: #313131!important;
  border-radius: 5px!important;
  color: white!important;
  transition: 0.6s!important;
}
.btn_red:hover{
  background: #DA4545!important;
  width: 100%!important;
}
/*.btn_locked{
  width: 60%!important;
  color: darkgray!important;
  border: solid 2px darkgray!important;
  border-radius: 5px!important;
  transition: 0.6s!important;
}
.btn_locked:hover{
  width: 100%!important;
}*/

/*=========== PRODUCTOS =============*/

.item_card{
  width: 80%;
  padding: 5px;
  margin: auto;
  text-align: center;
}
.item_card h2{
  font-size: 25px;
}
.item_card h3{
  font-size: 20px;
}
.img_card{
  width: 100%!important;
}